 * {
  padding: 0;
  margin: 0;
  font-family: "ubuntu", sans-serif;
}

body{
  background-image: url('https://puggina.org/admin/files/fique_sabendo_galeria/fique_sabendo_galeria18131901082023_1_.jpeg');
  background-size: 100%;
  background-position: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hide{
  display: none;
}

.container{
  background-color: #020502f5;
  box-shadow: #202020f5;
  padding: 3rem;
  color: #fdfdfd;
  border-radius: 1rem;
}

.form h2{
  margin-bottom: 1rem;
  text-align: center;
  align-items: center;
}

.form-input-container{
  display: flex;
}

.form input{
  padding: 0.8rem;
  border: none;
  flex: 1;
  border-radius: 4px;
}

.form button {
  padding: 0.8rem;;
  min-width: 50px;
  margin-left: 8px;
  background-color: rgb(46, 53, 53);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#weather{
  border-top: 1px solid #fff;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}
#weather h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
}

#weather h2 i{
  font-size: 1rem;
}

#weather span{
  margin: 0.6rem;
}

#pais{
  height: 25px;
}

#description-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#description{
  font-weight: bold;
  text-transform: capitalize;
}

.details-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#umidade{
  border-right: 0.5px solid #fff;
  margin: 0.6rem;
  padding:0.6rem;
}

/* Loader */
#loader i {
  align-content: center;
  align-items: center;
  animation: rotate 1.5s linear infinite;
}
#loader {
  align-items: center;
  align-content: center;
  border-top: 1px solid #fff;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

